<!DOCTYPE html>
<html>
      <!--
#in start_page.html and map_page/default.html
# Title: Locate the User
# Author: n/a
# Date Accessed: 03/08/21
# Date Published: n/a
# URL: https://docs.mapbox.com/mapbox-gl-js/example/locate-user/
# Software License: n/a

# map default set up
# Title: How to Add Maps to Django Web App Projects with Mapbox
# Author: Matt Makai
# Date Accessed: 03/21/2021
# Date Published: 10/06/2019
# URL: https://www.fullstackpython.com/blog/maps-django-web-applications-projects-mapbox.html
# Software License: n/a

# next to directions
# Title: Getting started with the Mapbox Directions API
# Author: n/a
# Date Accessed: 04/17/2021
# Date Published: n/a
# URL: https://docs.mapbox.com/help/tutorials/getting-started-directions-api/
# Software License: n/a

# next to directions
# Title: Getting started with the Mapbox Directions API
# Author: n/a
# Date Accessed: 04/17/2021
# Date Published: n/a
# URL: https://docs.mapbox.com/help/tutorials/getting-started-directions-api/
# Software License: n/a
    -->
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>UVA Direct - Map</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" >
    <!-- Map API -->
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
  </head>
  <body style="background-color: rgb(231, 224, 193)">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="height: 70px;">
      <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="../../start">
              <!-- compact UVA Logo : aspect ratio 735 x 358 or 2.05 to 1-->
              <img src="{% static 'assets/img/UVA_Direct_compact.png' %}" style="width: 80;height:40px;" alt="UVA Direct"/>
          </a>
          <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../../start#weather">Weather</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="">Map</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../../profile_page/schedule">Schedule</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../../profile_page/friends">Friends</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../../profile_page/friends_schedule">Friends Schedule</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../../profile_page/privacy">Privacy</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="../../start#about">About</a></li>
                  <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://cs3240-project-a-4.herokuapp.com/logout">Logout</a></li>
              </ul>
          </div>
      </div>
    </nav>
    
    <!-- MAP DISPLAY -->
    <div style = "height: 510px; padding-top: 4rem;">  
      <h1 class="page-section-heading text-left text-uppercase text-secondary mb-0" style="padding-top: 1rem; margin-left: 3rem;">Map of Grounds!</h1>
      
      <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
      <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
      <link href="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css" rel="stylesheet">
      <script src="https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js"></script>
      <div id='map' style='margin-left: 1.5rem; margin-right: 1.5rem; height: 450px; padding-top: 1rem'>
        <script>
          mapboxgl.accessToken = 'pk.eyJ1IjoibWFwcHJvamVjdDMyNDAiLCJhIjoiY2ttdHBzMWJuMGYwcjJ2cGRxaXVhaWtvMCJ9.xH-3a-x9qOF11YWF08rM6Q';
          var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-78.509, 38.0338],
            zoom: 14.5
          });
          map.addControl(
                    new mapboxgl.GeolocateControl({
                    positionOptions: {
                    enableHighAccuracy: true
                    },
                    trackUserLocation: true
                    })
                    );
          map.addControl(
            new MapboxDirections({
              accessToken: mapboxgl.accessToken
            }),
            'top-left'
          );
        </script>
        
      </div>
   </div>

   <!-- Schedule Section -->
  <div style='margin-left: 3rem; margin-right: 3rem; height: 360px; padding-top: 6rem'>
    <a href="../profile_page/schedule/">
      <h2 class="page-section-heading text-left text-uppercase mb-0 text-secondary" style="padding-bottom: 0.5rem;">Schedule</h2>
    </a>
    <div style="width:2000px; max-width: 100%; overflow-x: hidden; margin-bottom: 0.5rem;">
      {% if user.profile.classes %}
          {% for class in user.profile.classes.all %}
              <div class="schedule-box" style="background-color: white;">
                  <div class="weather-text-large" style="padding-top: 0.3rem; font-size: 1.5rem;">
                      {{ class.class_name }}
                  </div>
                  <div class="weather-text-large" style="padding-top: 0rem; font-size: 1.2rem; color:rgb(104, 123, 151)">
                      {{ class.time }}
                  </div>
                  <div class="weather-text-large" style="padding-top: 0rem; font-size: 0.8rem; color:rgb(104, 123, 151)">
                      {{ class.days }}
                  </div>
                  <div class="weather-text-large" style="padding-top: 0.5rem; font-size: 1.5rem;">
                      {{class.building}} {{class.building_number}}
                  </div>
              </div>
          {% endfor %}
      {% else %}
          <div style="width:2000px; max-width: 100%; overflow-x: hidden;" >
              <div class="schedule-box" style="background-color: rgb(207, 202, 181);"></div>
              <div class="schedule-box" style="background-color: rgb(207, 202, 181);"></div>
              <div class="schedule-box" style="background-color: rgb(207, 202, 181);"></div>
              <div class="schedule-box" style="background-color: rgb(207, 202, 181);"></div>
              <div class="schedule-box" style="background-color: rgb(207, 202, 181);"></div>
              <div class="schedule-box" style="background-color: rgb(207, 202, 181);"></div>
          </div>
          <div>
            <h2 class="page-section-heading text-left text-uppercase mb-0 text-secondary" style="padding-left: 1.1rem; font-size: 1rem; padding-top: 0.5rem; padding-bottom: 1rem;">go to schedule page to add classes</h2>
          </div>
      {% endif %}
    </div>
  </div>
  </body>
</html>