<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
    <h1>
        Hello {{ user.profile}}, Welcome To Your Friends List:
    </h1> 

    <h3>
        Friends Request:
        <br>
        <form action='/profile_page/friends/accept_or_decline_request/' method="post">
            {% csrf_token %}
            {% if user.profile.friends_requests %}
            {% for request in user.profile.friends_requests.all %}
                {% if request.to_user == user.username %}
                <input type="checkbox" name="request[]" value="{{request.from_user}}">
                <label for="request"> {{request.from_user}}</label><br>
                {% endif %}
            {% endfor %}
            {% else %}
                <p>No friends requests to show.</p>
            {% endif %}
            <p>
                <input type="submit" value="Accept" name = "Accept">
                <input type="submit" value="Decline" name = "Decline">
            </p>
        </form>
    </h3>

    <h3>
        Sent Friend Requests (Pending):
        {% for request in user.profile.friends_requests.all %}
            <ul>
            {% if request.from_user == user.username %}
                <li>
                    Pending request to {{request.to_user}}  
                </li>
            {% endif %}
            </ul>
        {% endfor %}
    </h3>

    <h3>
        Friends List:
        {% if user.profile.friends %}
        <ul>
        {% for friend in user.profile.friends.all %}
            <li>
                {{friend.profile.username}} 
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No friends to show.</p>
        {% endif %}
    </h3>

    <h3>
        Send A Friend Request:
        <form action='/profile_page/friends/' method="post">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" value="Done!">
        </form>
    </h3>

    <h3>
        Remove A Friend:
        <br>
        <form action='/profile_page/friends/remove/' method="post">
            {% csrf_token %}
            {% if user.profile.friends %}
            {% for friend in user.profile.friends.all %}
                <input type="checkbox" name="friend[]" value="{{friend.profile.username}}">
                <label for="friend"> {{friend.profile.username }}</label><br>
            {% endfor %}
            {% else %}
                <p>No friends to show.</p>
            {% endif %}
            <p>
                <input type="submit" value="Delete">
            </p>
        </form>
    </h3>

</html>