{% load socialaccount %}
{% load static %}
<html>
<head>
    <title>Google Registration</title>
</head>
<body id="page-top">
<nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: rgb(46, 75, 168);">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="">
            <!-- compact UVA Logo : aspect ratio 735 x 358 or 2.05 to 1-->
            <img src="{% static 'assets/img/UVA_Direct_compact.png' %}" style="width: 80;height:40px;"
                 alt="UVA Direct"/>
        </a>
    </div>
</nav>
<section class="page-section login" id="login">
    <center>
    <div class="container">
        <h1 class="page-section-heading text-left text-uppercase text-secondary mb-0">Welcome to UVA Direct! Please Log In:</h1>
        <div class="row justify-content-center">
            {% if user.is_authenticated %}
            <meta http-equiv="REFRESH" content="0;url=/start/">
             <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Welcome, {{ user.profile }}!</h2>
            {% else %}
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
            {% endif %}
        </div>
    </div>
    </center>


</body>
</html>
