<!DOCTYPE html>
{% load socialaccount %}

<html lang="en">
    <h2>Privacy Settings</h2>
        <p>
            In order to use UVA Direct's find my friend feature, we need your permission to share your location with others.
        </p>

        <p>
            <h3>
                Current Location Settings:
            </h3>
                {% if user.profile.location_sharing == False %}
                    <p>
                        Location sharing with friends is turned off.
                    </p>

                {% endif %}
                {% if user.profile.location_sharing == True %}
                    <p>
                        Location sharing with friends is turned on. You're all set to use UVA Direct's find friends feature.
                    </p>

                {% endif %}
        </p>

        <p>
            <h3>
                Change Location Settings:
            </h3>
            <form action='/profile_page/privacy/' method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Update settings">
            </form>
        </p>

</html>
