<!DOCTYPE html>
{% load socialaccount %}

<html lang="en">
    <h2>Privacy Settings</h2>
        <p>
            In order to use UVA Direct's Friends Schedule feature, we need your permission to share your schedule with friends.
        </p>

        <p>
            <h3>
                Current Location Settings:
            </h3>
                {% if user.profile.schedule_sharing == False %}
                    <p>
                        Schedule sharing with friends is turned off.
                    </p>

                {% endif %}
                {% if user.profile.schedule_sharing == True %}
                    <p>
                        Schedule sharing with friends is turned on.
                    </p>

                {% endif %}
        </p>

        <p>
            <h3>
                Change Schedule Sharing Settings:
            </h3>
            <form action='/profile_page/privacy/' method="post">
                {% csrf_token %}
                {{ form }}
                <br>
                <input type="submit" value="Update settings">
            </form>
        </p>

</html>
