<!DOCTYPE html>
{% load socialaccount %}
<html lang="en">
    <h1>
        Hello {{ user.profile }}, enter information to add a class to your schedule below:
    </h1> 
    <h3>
        Current Classes:
        {% if user.profile.classes %}
        <ul>
        {% for class in user.profile.classes.all %}
            <li>
                {{class.class_name}} at {{class.time}} on {{class.days}}
                in {{class.building}} {{class.building_number}}
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No classes to show.</p>
        {% endif %}
    </h3>
 
    <form action='/profile_page/schedule/' method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Done!">
    </form>

    <h3>
        Remove A Current Class:
        <br>
        <form action='/profile_page/edit_info/' method="post" name="removeForm">
            {% csrf_token %}
            {% if user.profile.classes %}
            {% for class in user.profile.classes.all %}
                <input type="checkbox" name="class[]" value="{{class.class_name}}">
                <label for="class"> {{class.class_name }}</label><br>
            {% endfor %}
            {% else %}
                <p>No classes to show.</p>
            {% endif %}
            <p>
                <input type="submit" value="Delete">
            </p>
        </form>
    </h3>

</html>